body {
  font-family: $f-sans;
  margin: 0;
  background-color: $c-black;
  background: linear-gradient(45deg, lighten(black, 5%) 0%, lighten(black, 10%) 100%);
  font-weight: 300;
  background-position: fixed;
  color: $c-white;
  min-width: $s-min-w;
  overflow: scroll;
  font-size: 15px;
}

#masthead {
  font-size: 3em;
  text-align: center;
  padding: 1em 0 1em;
}
.container {
  width: 95%;
  min-width: $s-min-w;
  max-width: $s-max-w;
  margin: 0 auto;
}

main {
  padding: 0;
}

aside {
  padding: 1em 0;
}

input, textarea {
  max-width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  outline: none;
  font-family: $f-sans;
}

::selection {
  background: $c-white;
  color: $c-black;
}

.triggers {
  text-align: center;
  margin: 1em 0;
}
.center {
  text-align: center;
}