body {
  font-family: $f-sans;
  margin: 0;
  background-color: $c-black;
  color: $c-white;
  min-width: $s-min-w;
  overflow: scroll;
}

.container {
  width: 95%;
  min-width: $s-min-w;
  max-width: $s-max-w;
  margin: 0 auto;
}

main {

}

aside {
  position: fixed;
  overflow: scroll;
  background-color: $c-trans-white;
  // top: 0%;
  top: 80%;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 2em;
  left: 0; right: 0;
  transition: top $ui-time;
  z-index: 99;
  &:hover {
    top: 20%;
  }
}

input, textarea {
  max-width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  outline: none;
  font-family: $f-sans;
}

::selection {
  background: $c-white;
  color: $c-black;
}