@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

$f-sans: 'Lato', 'Helvetica Neue LT Pro', Helvetica, sans-serif;

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1, h2, h3 {
  @include uppercase;
  small { font-size: 0.5em;}
}

h1.masthead {
  font-size: 2em;
  text-align: center;
  font-weight: 300;
  padding: 2em 0 0;
}