// sizes
$s-min-w: 900px;
$s-max-w: 1200px;
$s-staff-h: 120px;

// fonts
$f-sans: 'Yanone Kaffeesatz', 'Helvetica Neue LT Pro', Helvetica, sans-serif;

// timing
$ui-time: 300ms;

// colors
$c-primary: #666;
$c-primary-l: lighten($c-primary, 15%);
$c-primary-d: darken($c-primary, 20%);
$c-primary-b: darken($c-primary, 50%);
$c-white: #FFFFFF;
$c-off-white: darken($c-white,15%);
$c-trans-white: transparentize($c-white,0.8);
$c-gray: #9a9a9a;
$c-black: #101010;
$c-off-black: lighten($c-black,10%);

// borders
$b-gray: 1px solid $c-gray;
$b-light: 1px solid $c-trans-white;