@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700,400,300,200);
body {
  font-family: "Yanone Kaffeesatz", "Helvetica Neue LT Pro", Helvetica, sans-serif;
  margin: 0;
  background-color: #101010;
  background: -webkit-linear-gradient(45deg, #141414 0%, #212121 100%);
  background: linear-gradient(45deg, #141414 0%, #212121 100%);
  font-weight: 300;
  background-position: fixed;
  color: white;
  min-width: 900px;
  overflow: scroll;
  font-size: 15px; }

#masthead {
  font-size: 3em;
  text-align: center;
  padding: 1em 0 1em; }

.container {
  width: 95%;
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto; }

main {
  padding: 0; }

aside {
  padding: 1em 0; }

input, textarea {
  max-width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  outline: none;
  font-family: "Yanone Kaffeesatz", "Helvetica Neue LT Pro", Helvetica, sans-serif; }

::-moz-selection {
  background: white;
  color: #101010; }

::selection {
  background: white;
  color: #101010; }

.triggers {
  text-align: center;
  margin: 1em 0; }

.center {
  text-align: center; }

h1, h2, h3, h4, h5 {
  margin: 0; }

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.1em; }

.col-container:after {
  content: "";
  display: table;
  clear: both; }
.col-container .col-1 {
  float: left;
  width: 8.33333%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-1:first-child {
    padding-left: 0; }
  .col-container .col-1:last-child {
    padding-right: 0; }
.col-container .col-2 {
  float: left;
  width: 16.66667%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-2:first-child {
    padding-left: 0; }
  .col-container .col-2:last-child {
    padding-right: 0; }
.col-container .col-3 {
  float: left;
  width: 25%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-3:first-child {
    padding-left: 0; }
  .col-container .col-3:last-child {
    padding-right: 0; }
.col-container .col-4 {
  float: left;
  width: 33.33333%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-4:first-child {
    padding-left: 0; }
  .col-container .col-4:last-child {
    padding-right: 0; }
.col-container .col-5 {
  float: left;
  width: 41.66667%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-5:first-child {
    padding-left: 0; }
  .col-container .col-5:last-child {
    padding-right: 0; }
.col-container .col-6 {
  float: left;
  width: 50%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-6:first-child {
    padding-left: 0; }
  .col-container .col-6:last-child {
    padding-right: 0; }
.col-container .col-7 {
  float: left;
  width: 58.33333%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-7:first-child {
    padding-left: 0; }
  .col-container .col-7:last-child {
    padding-right: 0; }
.col-container .col-8 {
  float: left;
  width: 66.66667%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-8:first-child {
    padding-left: 0; }
  .col-container .col-8:last-child {
    padding-right: 0; }
.col-container .col-9 {
  float: left;
  width: 75%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-9:first-child {
    padding-left: 0; }
  .col-container .col-9:last-child {
    padding-right: 0; }
.col-container .col-10 {
  float: left;
  width: 83.33333%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-10:first-child {
    padding-left: 0; }
  .col-container .col-10:last-child {
    padding-right: 0; }
.col-container .col-11 {
  float: left;
  width: 91.66667%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-11:first-child {
    padding-left: 0; }
  .col-container .col-11:last-child {
    padding-right: 0; }
.col-container .col-12 {
  float: left;
  width: 100%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-12:first-child {
    padding-left: 0; }
  .col-container .col-12:last-child {
    padding-right: 0; }

button {
  -webkit-appearance: none;
  outline: none;
  font-family: "Yanone Kaffeesatz", "Helvetica Neue LT Pro", Helvetica, sans-serif;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.1em;
  font-size: 1em;
  background-color: #101010;
  color: white;
  padding: 1em;
  cursor: pointer; }
  button:hover, button:active {
    background-color: #292929; }
  button.disabled {
    pointer-events: none;
    opacity: 0.3; }

.data-group {
  margin: 2em 0; }
  .data-group:first-child {
    margin-top: 0; }
  .data-group .dg-row.dg-row-big.open .dg-drawer {
    max-height: initial; }
  .data-group .dg-row .dg-drawer {
    display: block;
    box-sizing: border-box;
    -webkit-transition: max-height 300ms, padding 300ms;
            transition: max-height 300ms, padding 300ms;
    overflow: hidden;
    max-height: 0;
    padding: 0 0.5em;
    background-color: #d9d9d9; }
  .data-group .dg-row.open h2 {
    pointer-events: none;
    background-color: #101010;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .data-group .dg-row.open .dg-drawer {
    padding: 1em 0.5em;
    max-height: 140px; }
  .data-group h1 {
    font-size: 1.2em;
    padding: 0.5em 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
  .data-group h2 {
    box-sizing: border-box;
    font-size: 1em;
    padding: 0.5em;
    background-color: #666666;
    cursor: pointer;
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .data-group h2:hover, .data-group h2:active {
      background-color: #333333; }

.grid-options input {
  opacity: 0;
  position: absolute;
  pointer-events: none; }
.grid-options > label {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.1em;
  padding-bottom: 0.5em;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #101010;
  text-align: center;
  display: block; }
.grid-options .go-grid {
  display: table;
  width: 100%;
  background-color: #666666; }
  .grid-options .go-grid:after {
    content: "";
    display: table;
    clear: both; }
  .grid-options .go-grid .go-label {
    display: table-cell;
    cursor: pointer;
    padding: 1.35em 0.5em;
    text-align: center;
    background-color: #666666;
    opacity: 0.6; }
    .grid-options .go-grid .go-label:hover, .grid-options .go-grid .go-label:active {
      opacity: 1; }
    .grid-options .go-grid .go-label.selected {
      opacity: 1;
      background-color: #333333; }

.ns-group {
  display: table; }
  .ns-group [number-switch] {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: table-cell;
    vertical-align: bottom;
    padding: 0 0.5em;
    width: 60px; }
    .ns-group [number-switch]:first-child {
      padding-left: 0; }
    .ns-group [number-switch]:last-child {
      padding-right: 0; }
    .ns-group [number-switch] .number-switch {
      text-align: center; }
      .ns-group [number-switch] .number-switch label {
        text-transform: uppercase;
        font-weight: 200;
        letter-spacing: 0.1em;
        padding-bottom: 0.5em;
        font-size: 0.8em;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.05em;
        color: #101010;
        text-align: center;
        display: block; }
      .ns-group [number-switch] .number-switch .ns-arrow-up,
      .ns-group [number-switch] .number-switch .ns-arrow-down,
      .ns-group [number-switch] .number-switch .ns-input {
        display: block;
        width: 100%; }
      .ns-group [number-switch] .number-switch .ns-input {
        height: 28px;
        line-height: 28px;
        font-size: 1em;
        text-align: center;
        padding: 0;
        background-color: #666666;
        color: white;
        font-weight: 100; }
      .ns-group [number-switch] .number-switch .ns-arrow-up,
      .ns-group [number-switch] .number-switch .ns-arrow-down {
        position: relative;
        background-color: #333333;
        display: block;
        width: 100%;
        height: 16px;
        cursor: pointer; }
        .ns-group [number-switch] .number-switch .ns-arrow-up.disabled,
        .ns-group [number-switch] .number-switch .ns-arrow-down.disabled {
          opacity: 0.2;
          pointer-events: none; }
        .ns-group [number-switch] .number-switch .ns-arrow-up::after,
        .ns-group [number-switch] .number-switch .ns-arrow-down::after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate3d(-50%, -50%, 0);
                  transform: translate3d(-50%, -50%, 0);
          border-left: 5px solid transparent;
          border-right: 5px solid transparent; }
        .ns-group [number-switch] .number-switch .ns-arrow-up.ns-arrow-up::after,
        .ns-group [number-switch] .number-switch .ns-arrow-down.ns-arrow-up::after {
          border-bottom: 5px solid #666666; }
        .ns-group [number-switch] .number-switch .ns-arrow-up.ns-arrow-up:hover::after, .ns-group [number-switch] .number-switch .ns-arrow-up.ns-arrow-up:active::after,
        .ns-group [number-switch] .number-switch .ns-arrow-down.ns-arrow-up:hover::after,
        .ns-group [number-switch] .number-switch .ns-arrow-down.ns-arrow-up:active::after {
          border-bottom-color: white; }
        .ns-group [number-switch] .number-switch .ns-arrow-up.ns-arrow-down::after,
        .ns-group [number-switch] .number-switch .ns-arrow-down.ns-arrow-down::after {
          border-top: 5px solid #666666; }
        .ns-group [number-switch] .number-switch .ns-arrow-up.ns-arrow-down:hover::after, .ns-group [number-switch] .number-switch .ns-arrow-up.ns-arrow-down:active::after,
        .ns-group [number-switch] .number-switch .ns-arrow-down.ns-arrow-down:hover::after,
        .ns-group [number-switch] .number-switch .ns-arrow-down.ns-arrow-down:active::after {
          border-top-color: white; }

.json-paster label {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.1em;
  padding-bottom: 0.5em;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #101010;
  text-align: center;
  display: block; }
.json-paster textarea {
  font-family: monospace;
  display: block;
  width: 100%;
  height: 200px;
  background-color: #333333;
  color: white;
  padding: 1em; }

.outer-notation {
  padding: 2em 0;
  background: black;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0px 0px 2em black, 0px 0px 0px 1px rgba(255, 255, 255, 0.2); }

.notation {
  position: relative; }

.staff {
  display: table;
  width: 100%;
  height: 80px; }
  .staff .beat {
    display: table-cell;
    position: relative; }
    .staff .beat.chord .note-interval {
      display: block;
      position: absolute;
      width: 4px;
      height: 4px;
      left: calc(50% - 2px);
      background: #101010;
      border-radius: 0%;
      -webkit-transition: height 100ms, width 100ms, box-shadow 100ms ease-out;
              transition: height 100ms, width 100ms, box-shadow 100ms ease-out;
      -webkit-transform: translate3d(-50%, -50%, 0);
              transform: translate3d(-50%, -50%, 0);
      opacity: 0.5; }
      .staff .beat.chord .note-interval.ni-0 {
        box-shadow: 0px 0px 0px 0px rgba(255, 51, 51, 0.02);
        background-color: #ff3333; }
      .staff .beat.chord .note-interval.ni-1 {
        box-shadow: 0px 0px 0px 0px rgba(255, 86, 51, 0.02);
        background-color: #ff5633; }
      .staff .beat.chord .note-interval.ni-2 {
        box-shadow: 0px 0px 0px 0px rgba(255, 121, 51, 0.02);
        background-color: #ff7933; }
      .staff .beat.chord .note-interval.ni-3 {
        box-shadow: 0px 0px 0px 0px rgba(255, 156, 51, 0.02);
        background-color: #ff9c33; }
      .staff .beat.chord .note-interval.ni-4 {
        box-shadow: 0px 0px 0px 0px rgba(255, 191, 51, 0.02);
        background-color: #ffbf33; }
      .staff .beat.chord .note-interval.ni-5 {
        box-shadow: 0px 0px 0px 0px rgba(255, 226, 51, 0.02);
        background-color: #ffe233; }
      .staff .beat.chord .note-interval.ni-6 {
        box-shadow: 0px 0px 0px 0px rgba(249, 255, 51, 0.02);
        background-color: #f9ff33; }
      .staff .beat.chord .note-interval.ni-7 {
        box-shadow: 0px 0px 0px 0px rgba(214, 255, 51, 0.02);
        background-color: #d6ff33; }
      .staff .beat.chord .note-interval.ni-8 {
        box-shadow: 0px 0px 0px 0px rgba(179, 255, 51, 0.02);
        background-color: #b3ff33; }
      .staff .beat.chord .note-interval.ni-9 {
        box-shadow: 0px 0px 0px 0px rgba(144, 255, 51, 0.02);
        background-color: #90ff33; }
      .staff .beat.chord .note-interval.ni-10 {
        box-shadow: 0px 0px 0px 0px rgba(109, 255, 51, 0.02);
        background-color: #6dff33; }
      .staff .beat.chord .note-interval.ni-11 {
        box-shadow: 0px 0px 0px 0px rgba(74, 255, 51, 0.02);
        background-color: #4aff33; }
      .staff .beat.chord .note-interval.ni-12 {
        box-shadow: 0px 0px 0px 0px rgba(51, 255, 63, 0.02);
        background-color: #33ff3f; }
      .staff .beat.chord .note-interval.ni-13 {
        box-shadow: 0px 0px 0px 0px rgba(51, 255, 98, 0.02);
        background-color: #33ff62; }
      .staff .beat.chord .note-interval.ni-14 {
        box-shadow: 0px 0px 0px 0px rgba(51, 255, 133, 0.02);
        background-color: #33ff85; }
      .staff .beat.chord .note-interval.ni-15 {
        box-shadow: 0px 0px 0px 0px rgba(51, 255, 168, 0.02);
        background-color: #33ffa8; }
      .staff .beat.chord .note-interval.ni-16 {
        box-shadow: 0px 0px 0px 0px rgba(51, 255, 203, 0.02);
        background-color: #33ffcb; }
      .staff .beat.chord .note-interval.ni-17 {
        box-shadow: 0px 0px 0px 0px rgba(51, 255, 238, 0.02);
        background-color: #33ffee; }
      .staff .beat.chord .note-interval.ni-18 {
        box-shadow: 0px 0px 0px 0px rgba(51, 238, 255, 0.02);
        background-color: #33eeff; }
      .staff .beat.chord .note-interval.ni-19 {
        box-shadow: 0px 0px 0px 0px rgba(51, 203, 255, 0.02);
        background-color: #33cbff; }
      .staff .beat.chord .note-interval.ni-20 {
        box-shadow: 0px 0px 0px 0px rgba(51, 168, 255, 0.02);
        background-color: #33a8ff; }
      .staff .beat.chord .note-interval.ni-21 {
        box-shadow: 0px 0px 0px 0px rgba(51, 133, 255, 0.02);
        background-color: #3385ff; }
      .staff .beat.chord .note-interval.ni-22 {
        box-shadow: 0px 0px 0px 0px rgba(51, 98, 255, 0.02);
        background-color: #3362ff; }
      .staff .beat.chord .note-interval.ni-23 {
        box-shadow: 0px 0px 0px 0px rgba(51, 63, 255, 0.02);
        background-color: #333fff; }
      .staff .beat.chord .note-interval.ni-24 {
        box-shadow: 0px 0px 0px 0px rgba(74, 51, 255, 0.02);
        background-color: #4a33ff; }
      .staff .beat.chord .note-interval.ni-25 {
        box-shadow: 0px 0px 0px 0px rgba(109, 51, 255, 0.02);
        background-color: #6d33ff; }
      .staff .beat.chord .note-interval.ni-26 {
        box-shadow: 0px 0px 0px 0px rgba(144, 51, 255, 0.02);
        background-color: #9033ff; }
      .staff .beat.chord .note-interval.ni-27 {
        box-shadow: 0px 0px 0px 0px rgba(179, 51, 255, 0.02);
        background-color: #b333ff; }
      .staff .beat.chord .note-interval.ni-28 {
        box-shadow: 0px 0px 0px 0px rgba(214, 51, 255, 0.02);
        background-color: #d633ff; }
      .staff .beat.chord .note-interval.ni-29 {
        box-shadow: 0px 0px 0px 0px rgba(249, 51, 255, 0.02);
        background-color: #f933ff; }
      .staff .beat.chord .note-interval.ni-30 {
        box-shadow: 0px 0px 0px 0px rgba(255, 51, 226, 0.02);
        background-color: #ff33e2; }
      .staff .beat.chord .note-interval.ni-31 {
        box-shadow: 0px 0px 0px 0px rgba(255, 51, 191, 0.02);
        background-color: #ff33bf; }
      .staff .beat.chord .note-interval.ni-32 {
        box-shadow: 0px 0px 0px 0px rgba(255, 51, 156, 0.02);
        background-color: #ff339c; }
      .staff .beat.chord .note-interval.ni-33 {
        box-shadow: 0px 0px 0px 0px rgba(255, 51, 121, 0.02);
        background-color: #ff3379; }
      .staff .beat.chord .note-interval.ni-34 {
        box-shadow: 0px 0px 0px 0px rgba(255, 51, 86, 0.02);
        background-color: #ff3356; }
      .staff .beat.chord .note-interval.ni-35 {
        box-shadow: 0px 0px 0px 0px rgba(255, 51, 51, 0.02);
        background-color: #ff3333; }
    .staff .beat.active .note-interval {
      opacity: 1;
      width: 8px;
      height: 8px;
      -webkit-transition: height 400ms, width 400ms, box-shadow 4000ms ease-out;
              transition: height 400ms, width 400ms, box-shadow 4000ms ease-out; }
      .staff .beat.active .note-interval.ni-0 {
        box-shadow: 0px 0px 0px 10px rgba(255, 51, 51, 0.3); }
      .staff .beat.active .note-interval.ni-1 {
        box-shadow: 0px 0px 0px 10px rgba(255, 86, 51, 0.3); }
      .staff .beat.active .note-interval.ni-2 {
        box-shadow: 0px 0px 0px 10px rgba(255, 121, 51, 0.3); }
      .staff .beat.active .note-interval.ni-3 {
        box-shadow: 0px 0px 0px 10px rgba(255, 156, 51, 0.3); }
      .staff .beat.active .note-interval.ni-4 {
        box-shadow: 0px 0px 0px 10px rgba(255, 191, 51, 0.3); }
      .staff .beat.active .note-interval.ni-5 {
        box-shadow: 0px 0px 0px 10px rgba(255, 226, 51, 0.3); }
      .staff .beat.active .note-interval.ni-6 {
        box-shadow: 0px 0px 0px 10px rgba(249, 255, 51, 0.3); }
      .staff .beat.active .note-interval.ni-7 {
        box-shadow: 0px 0px 0px 10px rgba(214, 255, 51, 0.3); }
      .staff .beat.active .note-interval.ni-8 {
        box-shadow: 0px 0px 0px 10px rgba(179, 255, 51, 0.3); }
      .staff .beat.active .note-interval.ni-9 {
        box-shadow: 0px 0px 0px 10px rgba(144, 255, 51, 0.3); }
      .staff .beat.active .note-interval.ni-10 {
        box-shadow: 0px 0px 0px 10px rgba(109, 255, 51, 0.3); }
      .staff .beat.active .note-interval.ni-11 {
        box-shadow: 0px 0px 0px 10px rgba(74, 255, 51, 0.3); }
      .staff .beat.active .note-interval.ni-12 {
        box-shadow: 0px 0px 0px 10px rgba(51, 255, 63, 0.3); }
      .staff .beat.active .note-interval.ni-13 {
        box-shadow: 0px 0px 0px 10px rgba(51, 255, 98, 0.3); }
      .staff .beat.active .note-interval.ni-14 {
        box-shadow: 0px 0px 0px 10px rgba(51, 255, 133, 0.3); }
      .staff .beat.active .note-interval.ni-15 {
        box-shadow: 0px 0px 0px 10px rgba(51, 255, 168, 0.3); }
      .staff .beat.active .note-interval.ni-16 {
        box-shadow: 0px 0px 0px 10px rgba(51, 255, 203, 0.3); }
      .staff .beat.active .note-interval.ni-17 {
        box-shadow: 0px 0px 0px 10px rgba(51, 255, 238, 0.3); }
      .staff .beat.active .note-interval.ni-18 {
        box-shadow: 0px 0px 0px 10px rgba(51, 238, 255, 0.3); }
      .staff .beat.active .note-interval.ni-19 {
        box-shadow: 0px 0px 0px 10px rgba(51, 203, 255, 0.3); }
      .staff .beat.active .note-interval.ni-20 {
        box-shadow: 0px 0px 0px 10px rgba(51, 168, 255, 0.3); }
      .staff .beat.active .note-interval.ni-21 {
        box-shadow: 0px 0px 0px 10px rgba(51, 133, 255, 0.3); }
      .staff .beat.active .note-interval.ni-22 {
        box-shadow: 0px 0px 0px 10px rgba(51, 98, 255, 0.3); }
      .staff .beat.active .note-interval.ni-23 {
        box-shadow: 0px 0px 0px 10px rgba(51, 63, 255, 0.3); }
      .staff .beat.active .note-interval.ni-24 {
        box-shadow: 0px 0px 0px 10px rgba(74, 51, 255, 0.3); }
      .staff .beat.active .note-interval.ni-25 {
        box-shadow: 0px 0px 0px 10px rgba(109, 51, 255, 0.3); }
      .staff .beat.active .note-interval.ni-26 {
        box-shadow: 0px 0px 0px 10px rgba(144, 51, 255, 0.3); }
      .staff .beat.active .note-interval.ni-27 {
        box-shadow: 0px 0px 0px 10px rgba(179, 51, 255, 0.3); }
      .staff .beat.active .note-interval.ni-28 {
        box-shadow: 0px 0px 0px 10px rgba(214, 51, 255, 0.3); }
      .staff .beat.active .note-interval.ni-29 {
        box-shadow: 0px 0px 0px 10px rgba(249, 51, 255, 0.3); }
      .staff .beat.active .note-interval.ni-30 {
        box-shadow: 0px 0px 0px 10px rgba(255, 51, 226, 0.3); }
      .staff .beat.active .note-interval.ni-31 {
        box-shadow: 0px 0px 0px 10px rgba(255, 51, 191, 0.3); }
      .staff .beat.active .note-interval.ni-32 {
        box-shadow: 0px 0px 0px 10px rgba(255, 51, 156, 0.3); }
      .staff .beat.active .note-interval.ni-33 {
        box-shadow: 0px 0px 0px 10px rgba(255, 51, 121, 0.3); }
      .staff .beat.active .note-interval.ni-34 {
        box-shadow: 0px 0px 0px 10px rgba(255, 51, 86, 0.3); }
      .staff .beat.active .note-interval.ni-35 {
        box-shadow: 0px 0px 0px 10px rgba(255, 51, 51, 0.3); }

.grid-lines {
  z-index: 1; }
  .grid-lines .gl-staff {
    height: 80px;
    position: absolute;
    left: 2em;
    right: 2em;
    top: 2em; }
    .grid-lines .gl-staff.gl-staff-1 {
      top: calc(2em + 80px); }
    .grid-lines .gl-staff .gl-octave {
      height: 26.66667px;
      width: 100%;
      display: block;
      position: relative; }
      .grid-lines .gl-staff .gl-octave .gl-interval {
        border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
        width: 100%;
        position: absolute;
        left: 0; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(1) {
          top: 0%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(2) {
          top: 8.33333%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(3) {
          top: 16.66667%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(4) {
          top: 25%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(4) {
          border-bottom: 1px dotted rgba(255, 255, 255, 0.3); }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(5) {
          top: 33.33333%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(6) {
          top: 41.66667%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(7) {
          top: 50%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(8) {
          top: 58.33333%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(8) {
          border-bottom: 1px dotted rgba(255, 255, 255, 0.3); }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(9) {
          top: 66.66667%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(10) {
          top: 75%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(11) {
          top: 83.33333%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(12) {
          top: 91.66667%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(12) {
          border-bottom: 1px dotted rgba(255, 255, 255, 0.3); }
