@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
h1, h2, h3, h4, h5 {
  margin: 0; }

h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: 0.1em; }

h1.masthead {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
  padding: 2em 0 0; }

body {
  font-family: "Lato", "Helvetica Neue LT Pro", Helvetica, sans-serif;
  margin: 0;
  background-color: #101010;
  background: -webkit-linear-gradient(45deg, black 0%, #0d0d0d 100%);
  background: linear-gradient(45deg, black 0%, #0d0d0d 100%);
  font-weight: 400;
  background-position: fixed;
  color: white;
  min-width: 900px;
  overflow: scroll;
  font-size: 13px; }

.container {
  width: 95%;
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto; }

main {
  padding: 2em 0 4em; }

aside {
  padding: 1em 0; }

input, textarea {
  max-width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  outline: none;
  font-family: "Lato", "Helvetica Neue LT Pro", Helvetica, sans-serif; }

::-moz-selection {
  background: white;
  color: #101010; }

::selection {
  background: white;
  color: #101010; }

.triggers {
  text-align: center;
  margin: 1em 0; }

.center {
  text-align: center; }

.col-container:after {
  content: "";
  display: table;
  clear: both; }
.col-container .col-1 {
  float: left;
  width: 8.33333%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-1:first-child {
    padding-left: 0; }
  .col-container .col-1:last-child {
    padding-right: 0; }
.col-container .col-2 {
  float: left;
  width: 16.66667%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-2:first-child {
    padding-left: 0; }
  .col-container .col-2:last-child {
    padding-right: 0; }
.col-container .col-3 {
  float: left;
  width: 25%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-3:first-child {
    padding-left: 0; }
  .col-container .col-3:last-child {
    padding-right: 0; }
.col-container .col-4 {
  float: left;
  width: 33.33333%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-4:first-child {
    padding-left: 0; }
  .col-container .col-4:last-child {
    padding-right: 0; }
.col-container .col-5 {
  float: left;
  width: 41.66667%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-5:first-child {
    padding-left: 0; }
  .col-container .col-5:last-child {
    padding-right: 0; }
.col-container .col-6 {
  float: left;
  width: 50%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-6:first-child {
    padding-left: 0; }
  .col-container .col-6:last-child {
    padding-right: 0; }
.col-container .col-7 {
  float: left;
  width: 58.33333%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-7:first-child {
    padding-left: 0; }
  .col-container .col-7:last-child {
    padding-right: 0; }
.col-container .col-8 {
  float: left;
  width: 66.66667%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-8:first-child {
    padding-left: 0; }
  .col-container .col-8:last-child {
    padding-right: 0; }
.col-container .col-9 {
  float: left;
  width: 75%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-9:first-child {
    padding-left: 0; }
  .col-container .col-9:last-child {
    padding-right: 0; }
.col-container .col-10 {
  float: left;
  width: 83.33333%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-10:first-child {
    padding-left: 0; }
  .col-container .col-10:last-child {
    padding-right: 0; }
.col-container .col-11 {
  float: left;
  width: 91.66667%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-11:first-child {
    padding-left: 0; }
  .col-container .col-11:last-child {
    padding-right: 0; }
.col-container .col-12 {
  float: left;
  width: 100%;
  padding: 0 1%;
  box-sizing: border-box; }
  .col-container .col-12:first-child {
    padding-left: 0; }
  .col-container .col-12:last-child {
    padding-right: 0; }

button {
  -webkit-appearance: none;
  outline: none;
  font-family: "Lato", "Helvetica Neue LT Pro", Helvetica, sans-serif;
  font-weight: 100;
  border: none;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1em;
  background-color: #101010;
  color: white;
  padding: 1em;
  cursor: pointer; }
  button:hover, button:active {
    background-color: #292929; }
  button.disabled {
    pointer-events: none;
    opacity: 0.3; }

.data-group {
  margin: 2em 0; }
  .data-group:first-child {
    margin-top: 0; }
  .data-group .dg-row.dg-row-big .dg-drawer {
    max-height: initial; }
  .data-group .dg-row .dg-drawer {
    display: block;
    box-sizing: border-box;
    -webkit-transition: max-height 300ms, padding 300ms;
            transition: max-height 300ms, padding 300ms;
    padding: 0; }
  .data-group .dg-row h2 {
    pointer-events: none;
    background-color: #292929; }
  .data-group .dg-row .dg-drawer {
    padding: 1em 0; }
  .data-group h1 {
    font-size: 1.2em;
    padding: 0.5em 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
  .data-group h2 {
    box-sizing: border-box;
    font-size: 1em;
    padding: 0.5em;
    cursor: pointer; }

.grid-options input {
  opacity: 0;
  position: absolute;
  pointer-events: none; }
.grid-options > label {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 0.5em;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #101010;
  text-align: center;
  display: block;
  color: white; }
.grid-options .go-grid {
  display: table;
  width: 100%; }
  .grid-options .go-grid:after {
    content: "";
    display: table;
    clear: both; }
  .grid-options .go-grid .go-label {
    display: table-cell;
    cursor: pointer;
    padding: 1.35em 0.25em;
    text-align: center;
    background-color: #666666;
    opacity: 0.6; }
    .grid-options .go-grid .go-label:hover, .grid-options .go-grid .go-label:active {
      opacity: 1; }
    .grid-options .go-grid .go-label.selected {
      opacity: 1;
      background-color: #333333; }

.ns-group {
  display: table; }
  .ns-group [number-switch] {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: table-cell;
    vertical-align: bottom;
    padding: 0 0.5em;
    width: 50px; }
    .ns-group [number-switch]:first-child {
      padding-left: 0; }
    .ns-group [number-switch]:last-child {
      padding-right: 0; }
    .ns-group [number-switch] .number-switch {
      text-align: center; }
      .ns-group [number-switch] .number-switch label {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding-bottom: 0.5em;
        font-size: 0.8em;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.05em;
        color: #101010;
        text-align: center;
        display: block;
        color: white; }
      .ns-group [number-switch] .number-switch .ns-arrow-up,
      .ns-group [number-switch] .number-switch .ns-arrow-down,
      .ns-group [number-switch] .number-switch .ns-input {
        display: block;
        width: 100%; }
      .ns-group [number-switch] .number-switch .ns-input {
        height: 18px;
        line-height: 18px;
        font-size: 1em;
        text-align: center;
        padding: 0;
        background-color: #666666;
        color: white;
        font-weight: 100; }
      .ns-group [number-switch] .number-switch .ns-arrow-up,
      .ns-group [number-switch] .number-switch .ns-arrow-down {
        position: relative;
        background-color: #333333;
        display: block;
        width: 100%;
        height: 16px;
        cursor: pointer; }
        .ns-group [number-switch] .number-switch .ns-arrow-up.disabled,
        .ns-group [number-switch] .number-switch .ns-arrow-down.disabled {
          opacity: 0.2;
          pointer-events: none; }
        .ns-group [number-switch] .number-switch .ns-arrow-up::after,
        .ns-group [number-switch] .number-switch .ns-arrow-down::after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate3d(-50%, -50%, 0);
                  transform: translate3d(-50%, -50%, 0);
          border-left: 5px solid transparent;
          border-right: 5px solid transparent; }
        .ns-group [number-switch] .number-switch .ns-arrow-up.ns-arrow-up::after,
        .ns-group [number-switch] .number-switch .ns-arrow-down.ns-arrow-up::after {
          border-bottom: 5px solid #666666; }
        .ns-group [number-switch] .number-switch .ns-arrow-up.ns-arrow-up:hover::after, .ns-group [number-switch] .number-switch .ns-arrow-up.ns-arrow-up:active::after,
        .ns-group [number-switch] .number-switch .ns-arrow-down.ns-arrow-up:hover::after,
        .ns-group [number-switch] .number-switch .ns-arrow-down.ns-arrow-up:active::after {
          border-bottom-color: white; }
        .ns-group [number-switch] .number-switch .ns-arrow-up.ns-arrow-down::after,
        .ns-group [number-switch] .number-switch .ns-arrow-down.ns-arrow-down::after {
          border-top: 5px solid #666666; }
        .ns-group [number-switch] .number-switch .ns-arrow-up.ns-arrow-down:hover::after, .ns-group [number-switch] .number-switch .ns-arrow-up.ns-arrow-down:active::after,
        .ns-group [number-switch] .number-switch .ns-arrow-down.ns-arrow-down:hover::after,
        .ns-group [number-switch] .number-switch .ns-arrow-down.ns-arrow-down:active::after {
          border-top-color: white; }

.json-paster label {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 0.5em;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #101010;
  text-align: center;
  display: block; }
.json-paster textarea {
  font-family: monospace;
  display: block;
  width: 100%;
  height: 200px;
  background-color: #333333;
  color: white;
  padding: 1em; }

.outer-notation {
  padding: 2em 0;
  overflow: hidden;
  box-sizing: border-box; }

.notation {
  position: relative; }

.staff {
  display: block;
  width: 100%;
  height: 200px;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .staff:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .staff .beat.beat-1 .note-interval {
    right: 0%; }
  .staff .beat.beat-2 .note-interval {
    right: -100%; }
  .staff .beat.beat-3 .note-interval {
    right: -200%; }
  .staff .beat.beat-4 .note-interval {
    right: -300%; }
  .staff .beat.beat-5 .note-interval {
    right: -400%; }
  .staff .beat.beat-6 .note-interval {
    right: -500%; }
  .staff .beat.beat-7 .note-interval {
    right: -600%; }
  .staff .beat.beat-8 .note-interval {
    right: -700%; }
  .staff .beat.beat-9 .note-interval {
    right: -800%; }
  .staff .beat.beat-10 .note-interval {
    right: -900%; }
  .staff .beat.beat-11 .note-interval {
    right: -1000%; }
  .staff .beat.beat-12 .note-interval {
    right: -1100%; }
  .staff .beat.beat-13 .note-interval {
    right: -1200%; }
  .staff .beat.beat-14 .note-interval {
    right: -1300%; }
  .staff .beat.beat-15 .note-interval {
    right: -1400%; }
  .staff .beat.beat-16 .note-interval {
    right: -1500%; }
  .staff .note-interval.ni-0 {
    top: 100%; }
  .staff .note-interval.ni-1 {
    top: 97.14286%; }
  .staff .note-interval.ni-2 {
    top: 94.28571%; }
  .staff .note-interval.ni-3 {
    top: 91.42857%; }
  .staff .note-interval.ni-4 {
    top: 88.57143%; }
  .staff .note-interval.ni-5 {
    top: 85.71429%; }
  .staff .note-interval.ni-6 {
    top: 82.85714%; }
  .staff .note-interval.ni-7 {
    top: 80%; }
  .staff .note-interval.ni-8 {
    top: 77.14286%; }
  .staff .note-interval.ni-9 {
    top: 74.28571%; }
  .staff .note-interval.ni-10 {
    top: 71.42857%; }
  .staff .note-interval.ni-11 {
    top: 68.57143%; }
  .staff .note-interval.ni-12 {
    top: 65.71429%; }
  .staff .note-interval.ni-13 {
    top: 62.85714%; }
  .staff .note-interval.ni-14 {
    top: 60%; }
  .staff .note-interval.ni-15 {
    top: 57.14286%; }
  .staff .note-interval.ni-16 {
    top: 54.28571%; }
  .staff .note-interval.ni-17 {
    top: 51.42857%; }
  .staff .note-interval.ni-18 {
    top: 48.57143%; }
  .staff .note-interval.ni-19 {
    top: 45.71429%; }
  .staff .note-interval.ni-20 {
    top: 42.85714%; }
  .staff .note-interval.ni-21 {
    top: 40%; }
  .staff .note-interval.ni-22 {
    top: 37.14286%; }
  .staff .note-interval.ni-23 {
    top: 34.28571%; }
  .staff .note-interval.ni-24 {
    top: 31.42857%; }
  .staff .note-interval.ni-25 {
    top: 28.57143%; }
  .staff .note-interval.ni-26 {
    top: 25.71429%; }
  .staff .note-interval.ni-27 {
    top: 22.85714%; }
  .staff .note-interval.ni-28 {
    top: 20%; }
  .staff .note-interval.ni-29 {
    top: 17.14286%; }
  .staff .note-interval.ni-30 {
    top: 14.28571%; }
  .staff .note-interval.ni-31 {
    top: 11.42857%; }
  .staff .note-interval.ni-32 {
    top: 8.57143%; }
  .staff .note-interval.ni-33 {
    top: 5.71429%; }
  .staff .note-interval.ni-34 {
    top: 2.85714%; }
  .staff .note-interval.ni-35 {
    top: 0%; }
  .staff.treble .note-interval.ni-0 {
    background-color: rgba(51, 255, 255, 0.8); }
  .staff.treble .note-interval.ni-1 {
    background-color: rgba(51, 238, 255, 0.8); }
  .staff.treble .note-interval.ni-2 {
    background-color: rgba(51, 220, 255, 0.8); }
  .staff.treble .note-interval.ni-3 {
    background-color: rgba(51, 203, 255, 0.8); }
  .staff.treble .note-interval.ni-4 {
    background-color: rgba(51, 185, 255, 0.8); }
  .staff.treble .note-interval.ni-5 {
    background-color: rgba(51, 168, 255, 0.8); }
  .staff.treble .note-interval.ni-6 {
    background-color: rgba(51, 150, 255, 0.8); }
  .staff.treble .note-interval.ni-7 {
    background-color: rgba(51, 133, 255, 0.8); }
  .staff.treble .note-interval.ni-8 {
    background-color: rgba(51, 115, 255, 0.8); }
  .staff.treble .note-interval.ni-9 {
    background-color: rgba(51, 98, 255, 0.8); }
  .staff.treble .note-interval.ni-10 {
    background-color: rgba(51, 80, 255, 0.8); }
  .staff.treble .note-interval.ni-11 {
    background-color: rgba(51, 63, 255, 0.8); }
  .staff.treble .note-interval.ni-12 {
    background-color: rgba(57, 51, 255, 0.8); }
  .staff.treble .note-interval.ni-13 {
    background-color: rgba(74, 51, 255, 0.8); }
  .staff.treble .note-interval.ni-14 {
    background-color: rgba(92, 51, 255, 0.8); }
  .staff.treble .note-interval.ni-15 {
    background-color: rgba(109, 51, 255, 0.8); }
  .staff.treble .note-interval.ni-16 {
    background-color: rgba(127, 51, 255, 0.8); }
  .staff.treble .note-interval.ni-17 {
    background-color: rgba(144, 51, 255, 0.8); }
  .staff.treble .note-interval.ni-18 {
    background-color: rgba(162, 51, 255, 0.8); }
  .staff.treble .note-interval.ni-19 {
    background-color: rgba(179, 51, 255, 0.8); }
  .staff.treble .note-interval.ni-20 {
    background-color: rgba(197, 51, 255, 0.8); }
  .staff.treble .note-interval.ni-21 {
    background-color: rgba(214, 51, 255, 0.8); }
  .staff.treble .note-interval.ni-22 {
    background-color: rgba(232, 51, 255, 0.8); }
  .staff.treble .note-interval.ni-23 {
    background-color: rgba(249, 51, 255, 0.8); }
  .staff.treble .note-interval.ni-24 {
    background-color: rgba(255, 51, 243, 0.8); }
  .staff.treble .note-interval.ni-25 {
    background-color: rgba(255, 51, 226, 0.8); }
  .staff.treble .note-interval.ni-26 {
    background-color: rgba(255, 51, 208, 0.8); }
  .staff.treble .note-interval.ni-27 {
    background-color: rgba(255, 51, 191, 0.8); }
  .staff.treble .note-interval.ni-28 {
    background-color: rgba(255, 51, 173, 0.8); }
  .staff.treble .note-interval.ni-29 {
    background-color: rgba(255, 51, 156, 0.8); }
  .staff.treble .note-interval.ni-30 {
    background-color: rgba(255, 51, 138, 0.8); }
  .staff.treble .note-interval.ni-31 {
    background-color: rgba(255, 51, 121, 0.8); }
  .staff.treble .note-interval.ni-32 {
    background-color: rgba(255, 51, 103, 0.8); }
  .staff.treble .note-interval.ni-33 {
    background-color: rgba(255, 51, 86, 0.8); }
  .staff.treble .note-interval.ni-34 {
    background-color: rgba(255, 51, 68, 0.8); }
  .staff.treble .note-interval.ni-35 {
    background-color: rgba(255, 51, 51, 0.8); }
  .staff.bass .note-interval.ni-0 {
    background-color: rgba(255, 51, 51, 0.8); }
  .staff.bass .note-interval.ni-1 {
    background-color: rgba(255, 68, 51, 0.8); }
  .staff.bass .note-interval.ni-2 {
    background-color: rgba(255, 86, 51, 0.8); }
  .staff.bass .note-interval.ni-3 {
    background-color: rgba(255, 103, 51, 0.8); }
  .staff.bass .note-interval.ni-4 {
    background-color: rgba(255, 121, 51, 0.8); }
  .staff.bass .note-interval.ni-5 {
    background-color: rgba(255, 138, 51, 0.8); }
  .staff.bass .note-interval.ni-6 {
    background-color: rgba(255, 156, 51, 0.8); }
  .staff.bass .note-interval.ni-7 {
    background-color: rgba(255, 173, 51, 0.8); }
  .staff.bass .note-interval.ni-8 {
    background-color: rgba(255, 191, 51, 0.8); }
  .staff.bass .note-interval.ni-9 {
    background-color: rgba(255, 208, 51, 0.8); }
  .staff.bass .note-interval.ni-10 {
    background-color: rgba(255, 226, 51, 0.8); }
  .staff.bass .note-interval.ni-11 {
    background-color: rgba(255, 243, 51, 0.8); }
  .staff.bass .note-interval.ni-12 {
    background-color: rgba(249, 255, 51, 0.8); }
  .staff.bass .note-interval.ni-13 {
    background-color: rgba(232, 255, 51, 0.8); }
  .staff.bass .note-interval.ni-14 {
    background-color: rgba(214, 255, 51, 0.8); }
  .staff.bass .note-interval.ni-15 {
    background-color: rgba(197, 255, 51, 0.8); }
  .staff.bass .note-interval.ni-16 {
    background-color: rgba(179, 255, 51, 0.8); }
  .staff.bass .note-interval.ni-17 {
    background-color: rgba(162, 255, 51, 0.8); }
  .staff.bass .note-interval.ni-18 {
    background-color: rgba(144, 255, 51, 0.8); }
  .staff.bass .note-interval.ni-19 {
    background-color: rgba(127, 255, 51, 0.8); }
  .staff.bass .note-interval.ni-20 {
    background-color: rgba(109, 255, 51, 0.8); }
  .staff.bass .note-interval.ni-21 {
    background-color: rgba(92, 255, 51, 0.8); }
  .staff.bass .note-interval.ni-22 {
    background-color: rgba(74, 255, 51, 0.8); }
  .staff.bass .note-interval.ni-23 {
    background-color: rgba(57, 255, 51, 0.8); }
  .staff.bass .note-interval.ni-24 {
    background-color: rgba(51, 255, 63, 0.8); }
  .staff.bass .note-interval.ni-25 {
    background-color: rgba(51, 255, 80, 0.8); }
  .staff.bass .note-interval.ni-26 {
    background-color: rgba(51, 255, 98, 0.8); }
  .staff.bass .note-interval.ni-27 {
    background-color: rgba(51, 255, 115, 0.8); }
  .staff.bass .note-interval.ni-28 {
    background-color: rgba(51, 255, 133, 0.8); }
  .staff.bass .note-interval.ni-29 {
    background-color: rgba(51, 255, 150, 0.8); }
  .staff.bass .note-interval.ni-30 {
    background-color: rgba(51, 255, 168, 0.8); }
  .staff.bass .note-interval.ni-31 {
    background-color: rgba(51, 255, 185, 0.8); }
  .staff.bass .note-interval.ni-32 {
    background-color: rgba(51, 255, 203, 0.8); }
  .staff.bass .note-interval.ni-33 {
    background-color: rgba(51, 255, 220, 0.8); }
  .staff.bass .note-interval.ni-34 {
    background-color: rgba(51, 255, 238, 0.8); }
  .staff.bass .note-interval.ni-35 {
    background-color: rgba(51, 255, 255, 0.8); }
  .staff .beat {
    display: block;
    float: left;
    height: 100%;
    position: relative; }
    .staff .beat::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      border-right: 1px solid rgba(255, 255, 255, 0.1); }
    .staff .beat:first-child::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-left: 1px solid rgba(255, 255, 255, 0.1); }
    .staff .beat.chord .note-interval {
      display: block;
      position: absolute;
      height: 4px;
      left: 0;
      border-radius: 0%;
      -webkit-transition: height 100ms, box-shadow 100ms ease-out;
              transition: height 100ms, box-shadow 100ms ease-out;
      -webkit-transition: opacity 400ms;
              transition: opacity 400ms;
      -webkit-transform: translate3d(0, -50%, 0);
              transform: translate3d(0, -50%, 0);
      opacity: 0.5;
      z-index: 1; }
    .staff .beat.active .note-interval {
      opacity: 1;
      height: 8px;
      -webkit-transition: height 400ms, box-shadow 4000ms ease-out;
              transition: height 400ms, box-shadow 4000ms ease-out;
      -webkit-transition: opacity 400ms;
              transition: opacity 400ms; }

.grid-lines {
  z-index: 1; }
  .grid-lines .gl-staff {
    height: 200px;
    position: absolute;
    left: 2em;
    right: 2em;
    top: 2em; }
    .grid-lines .gl-staff.gl-staff-1 {
      top: calc(2em + 200px); }
    .grid-lines .gl-staff .gl-octave {
      height: 66.66667px;
      width: 100%;
      display: block;
      position: relative; }
      .grid-lines .gl-staff .gl-octave .gl-interval {
        border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
        width: 100%;
        position: absolute;
        left: 0; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(1) {
          top: 0%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(2) {
          top: 8.33333%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(3) {
          top: 16.66667%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(4) {
          top: 25%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(4) {
          border-bottom: 1px dotted rgba(255, 255, 255, 0.3); }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(5) {
          top: 33.33333%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(6) {
          top: 41.66667%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(7) {
          top: 50%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(8) {
          top: 58.33333%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(8) {
          border-bottom: 1px dotted rgba(255, 255, 255, 0.3); }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(9) {
          top: 66.66667%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(10) {
          top: 75%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(11) {
          top: 83.33333%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(12) {
          top: 91.66667%; }
        .grid-lines .gl-staff .gl-octave .gl-interval:nth-child(12) {
          border-bottom: 1px dotted rgba(255, 255, 255, 0.3); }

.editor-canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 9;
  background-color: rgba(16, 16, 16, 0.9);
  overflow: scroll; }
  .editor-canvas.ng-enter {
    -webkit-animation: slide-up 250ms;
            animation: slide-up 250ms; }
  .editor-canvas.ng-leave {
    -webkit-animation: slide-down 250ms;
            animation: slide-down 250ms; }

.editor-menu {
  text-align: center; }
  .editor-menu ul {
    list-style: none;
    padding: 0; }
    .editor-menu ul li {
      display: inline-block;
      border-right: 1px solid #101010;
      text-transform: uppercase;
      letter-spacing: 0.1em; }
      .editor-menu ul li a {
        color: #9a9a9a;
        padding: 16px 12px;
        text-decoration: none;
        background-color: #292929;
        display: block; }
        .editor-menu ul li a.active {
          color: white; }
      .editor-menu ul li:first-child {
        border-left: 1px solid #101010; }

@-webkit-keyframes slide-up {
  from {
    top: 100%;
    bottom: -100%; }

  to {
    top: 0;
    bottom: 0; } }

@keyframes slide-up {
  from {
    top: 100%;
    bottom: -100%; }

  to {
    top: 0;
    bottom: 0; } }

@-webkit-keyframes slide-down {
  from {
    top: 0;
    bottom: 0; }

  to {
    top: 100%;
    bottom: -100%; } }

@keyframes slide-down {
  from {
    top: 0;
    bottom: 0; }

  to {
    top: 100%;
    bottom: -100%; } }
