.button-about {
  position: fixed;
  top: 0; right: 0;
  z-index: 9999;
  padding: 1em;
  background-color: transparentize($c-off-white,0.8);
  color: $c-black;
  font-weight: 400;
  &:hover, &:active {
    background-color: transparentize($c-off-white,0);
  }
}

$about-h: 300px;
.about-wrapper {
  height: $about-h;
  z-index: 9998;
  position: fixed;
  padding: 4em 2em;
  box-sizing: border-box;
  left: 0; right: 0;
  text-align:center;
  background-color: transparentize($c-black,0.05);
  border-bottom: $b-light;

  &.ng-enter { animation: slide-about-down 250ms linear }
  &.ng-leave { animation: slide-about-up 250ms linear }

  h1 {
    font-weight: 100;
    font-size: 2em;
    border-bottom: $b-light;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      font-size: 1.2em;
      font-weight: 300;
      margin-bottom: 0.75em;
    }
    a {
      text-decoration: underline;
    }
  }
}

@keyframes slide-about-down {
  from { top: $about-h * -1; }
  to { top: 0; }
}
@keyframes slide-about-up {
  from { top: 0; }
  to { top: $about-h * -1; }
}

