button {
  -webkit-appearance: none;
  outline: none;
  font-family: $f-sans;
  font-weight: 100;
  border: none;
  position: relative;

  @include uppercase;
  font-size: 1em;
  background-color: $c-black;
  color: $c-white;
  padding: 1em;
  cursor: pointer;
  &:hover, &:active {
    background-color: $c-off-black;
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}