button {
  -webkit-appearance: none;
  outline: none;
  font-family: $f-sans;
  border: none;
  position: relative;

  @include uppercase;
  font-size: 1em;
  background-color: $c-black;
  color: $c-white;
  padding: 1em;
  letter-spacing: 1em;
  cursor: pointer;
  &:hover, &:active {
    background-color: $c-off-black;
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  // .play, .stop {
  //   display: block;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  // }
  // .play {
  //   border-left: 8px solid $c-white;
  //   border-top: 8px solid transparent;
  //   border-bottom: 8px solid transparent;
  //   transform: translate3d(-40%, -50%, 0);
  // }
  // .stop {
  //   background-color: $c-white;
  //   height: 10px;
  //   width: 10px;
  //   transform: translate3d(-50%, -50%, 0);
  // }
}