.editor-canvas {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  padding: 0;
  z-index: 9;
  background-color: transparentize($c-black,0.1);
  overflow: scroll;
  &.ng-enter { animation: slide-up 250ms }
  &.ng-leave { animation: slide-down 250ms }
}

.editor-menu {
  text-align:center;
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      border-right: 1px solid $c-black;
      @include uppercase;
      a {
        color: $c-gray;
        padding: 16px 12px;
        text-decoration: none;
        background-color: $c-off-black;
        display: block;
        &.active {
          color: $c-white;
        }
      }
      &:first-child {
        border-left: 1px solid $c-black;
      }
    }
  }
}

@keyframes slide-up {
  from { top: 100%; bottom: -100% }
  to { top: 0; bottom: 0 }
}

@keyframes slide-down {
  from { top: 0; bottom: 0 }
  to { top: 100%; bottom: -100% }
}