.grid-options {

  input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }

  & > label {
    @include small-label;
    display: block;
    color: $c-white;
  }
  .go-grid {
    display: table;
    width: 100%;
    background-color: $c-primary;
    @include clearfix;
    .go-label {
      display: table-cell;
      cursor: pointer;
      padding: 1.1em 0.5em;
      text-align: center;
      background-color: $c-primary;
      opacity: 0.6;
      &:hover, &:active {
        opacity: 1;
      }
      &.selected {
        opacity: 1;
        background-color: $c-primary-d;
      }
    }
  }
}