.json-paster {
  margin-top: 1em;

  label {
    @include small-label;
    display: block;
  }
  textarea {
    display: block;
    width: 100%;
    height: 200px;
    background-color: $c-black;
    color: $c-white;
    padding: 1em;
  }
}