.json-paster {

  label {
    @include small-label;
    color: $c-white;
    display: block;
  }
  textarea {
    font-family: monospace;
    display: block;
    width: 100%;
    height: 200px;
    background-color: $c-primary-d;
    color: $c-white;
    padding: 1em;
  }
}