.outer-notation {
  padding: 2em 0;
  background: black;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow:
    0px 0px 2em black,
    0px 0px 0px 1px $c-trans-white;
}

.notation {
  position: relative;
}

.staff {
  display: table;
  width: 100%;
  height: $s-staff-h;

  .beat {
    display: table-cell;
    position: relative;
    &.chord {
      .note-interval {
        display: block;
        position: absolute;
        width: $s-dot-di;
        height: $s-dot-di;
        left: calc(50% - #{$s-dot-di/2});
        background: $c-black;
        border-radius: 0%;
        transition: height 100ms, width 100ms, box-shadow 100ms ease-out;
        transform: translate3d(-50%, -50%, 0);
        opacity: 0.5;
        @for $i from 0 through 35 {
          &.ni-#{$i} {
            $ratio: $i / 35;
            $color: hsl($ratio * 360, 100%, 60%);
            $box-color: hsla($ratio * 360, 100%, 60%, 0.02);
            box-shadow: 0px 0px 0px 0px $box-color;
            background-color: $color;
          }
        }
      }
    }
    &.sustain { }
    &.null { }
    &.active {
      .note-interval {
        opacity: 1;
        width: $s-dot-di * 2;
        height: $s-dot-di * 2;
        transition: height 400ms, width 400ms, box-shadow 4000ms ease-out;
        @for $i from 0 through 35 {
          &.ni-#{$i} {
            $ratio: $i / 35;
            $color: hsla($ratio * 360, 100%, 60%, 0.3);
            box-shadow: 0px 0px 0px 10px $color;
          }
        }
      }
    }
  }
}