.outer-notation {
  padding: 2em 0;
  // background: black;
  overflow: hidden;
  box-sizing: border-box;
  // box-shadow: 0px 0px 0px 1px $c-trans-white;
}

.notation {
  position: relative;
}

.staff {
  display: table;
  width: 100%;
  height: $s-staff-h;

  $staff-border: 1px solid $c-trans-white;

  $staff-space: 12px;

  // margin-top: $staff-space;
  // padding-bottom: $staff-space;

  // border-bottom: $staff-border;

  &:last-of-type {
    border-bottom: none;
  }

  &.treble {
    .note-interval {
      @for $i from 0 through 35 {
        &.ni-#{$i} {
          $ratio: $i / 35;
          $color: hsla($ratio * 180 + 180, 100%, 60%, 0.8);
          background-color: $color;
        }
      }
    }
  }

  &.bass {
    .note-interval {
      @for $i from 0 through 35 {
        &.ni-#{$i} {
          $ratio: $i / 35;
          $color: hsla($ratio * 180, 100%, 60%, 0.8);
          background-color: $color;
        }
      }
    }
  }

  .beat {
    display: table-cell;
    position: relative;
    &.chord {
      .note-interval {
        display: block;
        position: absolute;
        width: 100%;
        height: $s-note-h;
        left: 0;
        // background: $c-black;
        border-radius: 0%;
        transition: height 100ms, box-shadow 100ms ease-out;
        transition: opacity 400ms;
        transform: translate3d(0, -50%, 0);
        opacity: 0.5;

      }
    }
    &.sustain { }
    &.null { }
    &.active {
      .note-interval {
        opacity: 1;
        height: $s-note-h * 2;
        transition: height 400ms, box-shadow 4000ms ease-out;
        transition: opacity 400ms;
        // @for $i from 0 through 35 {
          // &.ni-#{$i} {
            // $ratio: $i / 35;
            // $color: hsla($ratio * 360, 100%, 60%, 0.3);
            // box-shadow: 0px 0px 0px 10px $color;
          // }
        // }
      }
    }
  }
}