<div class="grid-options">
  <label ng-bind="label" ng-if="label"></label>
  <input type="radio"
    id="{{groupname}}-option-{{option.value}}"
    name="{{groupname}}"
    value="{{option.value}}"
    ng-checked="option.value == model"
    ng-repeat="option in options track by $index" />

  <div class="go-grid">
    <label class="go-label"
      id="{{groupname}}-option-{{option.value}}-label"
      for="{{groupname}}-option-{{option.value}}"
      ng-class="{selected: option.value == model}"
      ng-repeat="option in options track by $index"
      ng-click="select(option)">{{option.name}}</label>
    </span>
  </div>
</div>